@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --base: #f1f1f1;
  --puce:#b48291;
  --newpurp:#816e94;
  --viridian:#4c8577;
  --hgreen:#4e6e58;
  --russianviolet:#583688;
  --yinminblue:#2c497f;
  --midblue:#2d5baf;
  --lighterblue:#6392e9;
  --purp:#5941a9;
  --neonpurp:#7d67fc;
  


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-base:var(--base);
  --color-puce:var(--puce);
  --color-newpurp:var(--newpurp);
  --color-viridian:var(--viridian);
  --color-hgreen:var(--hgreen);
  --color-russianviolet:var(--russianviolet);
  --color-yinminblue:var(--yinminblue);
  --color-midblue:var(--midblue);
  --color-lighterblue:var(--lighterblue);
  --color-purp:var(--purp);
  --color-neonpurp:var(--neonpurp);


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  --color-base:var(--base);
  --color-puce:var(--puce);
  --color-newpurp:var(--newpurp);
  --color-viridian:var(--viridian);
  --color-hgreen:var(--hgreen);
  --color-russianviolet:var(--russianviolet);
  --color-yinminblue:var(--yinminblue);
  --color-midblue:var(--midblue);
  --color-lighterblue:var(--lighterblue);
  --color-purp:var(--purp);
  --color-neonpurp:var(--neonpurp);
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --webkit-font-smoothing: auto;
  --moz-osx-font-smoothing: auto;
}
